@mixin flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin absolutePosition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
