@use '../../sass/base';

.shop {

    &__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 40px 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .sideNav {
        grid-area: 1 / 1 / 3 / 4;
        &__tags {

            .tag {

            }
        }
        &__items {

        }
    }
    
    &__sort {
        grid-area: 1 / 4 / 2 / 13;
    }
    &__products {
        grid-area: 2 / 4 / 3 / 13;
    }
}