.about {
    width: 60%;
    margin: 0 auto;
    text-align: center;

    h2 {
        margin-bottom: 20px;
    }

    p {
        font-weight: 500;
        line-height: 160.5%;
        text-align: center;
        letter-spacing: 0.025em;
        margin-bottom: 10px;
    }
    .btn {
    }
}