@use '../../sass/base';
@use '../../sass/mixins';

.header {
    position: relative;
    min-height: 655px;
    height: 41vw;
    &::after {
        content: '';
        @include mixins.absolutePosition;
        background: linear-gradient(128.72deg, rgba(base.$color-primary, 0.4) 35.52%, rgba(base.$color-primary, 0.13) 54.77%);
    }
    &__img {
        @include mixins.absolutePosition;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        padding-top: 35px;
        position: relative;
        z-index: 2;
        width: 640px;
        height: 100%;
        
        .btn {
            margin-top: 15px;
        }
    }
}