@use '../../sass/base';
@use '../../sass/mixins';

.footer {
    background-color: base.$color-primary;
    @include mixins.flexRow;
    align-items: flex-start;
    gap: 20px;

    &__logo {
        margin-bottom: 5px;
        display: flex;
        align-items: flex-start;
        line-height: 1;
    }
    &__col {
        flex-basis: calc(20% - 20px);
        h2 {
            font-size: 18px;
            font-weight: 600;
            line-height: 1;
        }
    }
    &__intro {
        flex-basis: 40%;
        margin-right: 20px;
        p {
            color: #ccc;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 10px;
        .link {
            color: #ccc;

        }
    }
    &__item {
        line-height: 1.2;
    }

    &__social {
        flex-basis: 35%;
        display: flex;
        flex-direction: column;

        span {
            margin-top: 140px;
            color: #ddd;
            font-size: 12px;
        }
    }
    &__list-social {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 20px;
        svg {
            width: 32px;
            height: 32px;
        }
        
    }
    
}