@use '../../sass/base';
@use '../../sass/mixins';

.nav {
    background-color: base.$color-primary;
    padding-top: 10px;
    padding-bottom: 10px;
    @include mixins.flexRow;
    justify-content: space-between;
    &__logo {
        flex-basis: 20%;
    }
    &__list {
        @include mixins.flexRow;
        justify-content: space-between;
        &--links {
            flex-basis: 50%;
        }
        &--utils {
            flex-basis: 15%;
        }
    }

    &__item {

        svg {
            width: 30px;
            height: 30px;
        }
    }
}